@using DronePostWeb.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Holder.ApplicationName</h1>
    <p class="lead">A robot may not injure a human being or, through inaction, allow a human being to come to harm</p>
    <p class="lead">A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.</p>
    <p class="lead">A robot must protect its own existence as long as such protection does not conflict with the First or Second Laws.</p>
    <p><a href="https://en.wikipedia.org/wiki/Three_Laws_of_Robotics" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

